.active {
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 90px;
    width: 100%;
    background: #d802cf;
    transition: 0.5s ease-in-out;


    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;

        .media {
            display: none;
        }

        .header__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;

            ul {
                display: flex;
                list-style: none;
                font-size: 22px;

                a {
                    color: #fff;
                    text-decoration: none;
                    margin: 0 20px;
                    // text-transform: uppercase;
                }
            }

            select {
                width: 70px;
                height: 40px;
                font-size: 22px;
                color: #fff;
                background-color: rgb(255, 0, 255);
                border: 1px solid rgb(255, 0, 255);
                border-radius: 5px;
                outline: none;
                margin-left: 30px;
                cursor: pointer;
            }

            .account__login {
                display: flex;
                align-items: center;
                .basket__btn{
                    cursor: pointer;
                    font-size: 22px;
                    border: 1px solid #00ff00;
                    background: none;
                    color: #00ff00;
                    padding: 15px 10px;
                    border-radius: 5px;
                    margin: 0 10px;
                }
                .signin__signup{
                    padding: 15px 0;
                }
                &__user {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    h4 {
                        font-size: 22px;
                    }

                    img {
                        width: 60px;
                        height: 60px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}


.header__sass {
    width: 100%;
    height: 80px;
    background: rgb(255, 0, 255);
    // background: linear-gradient(90deg, rgba(255, 0, 254, 1) 0%, rgba(121, 9, 94, 1) 51%, rgba(255, 0, 254, 1) 100%) repeat-x 0 100% fixed,
    //     linear-gradient(to top, #5080b1, #004e8c) fixed;
    // animation: city 10s linear infinite;
    // -webkit-animation: city 10s linear infinite;

    // @keyframes city {
    //     from {
    //         background-position:  0%, 0 0;
    //     }

    //     to {
    //         background-position: 100%, 0 0;
    //     }
    // }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;

        .media {
            display: none;
        }

        .header__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;

            ul {
                display: flex;
                list-style: none;
                font-size: 22px;
                padding: 20px 0;

                a {
                    color: #fff;
                    text-decoration: none;
                    margin: 0 20px;
                    text-transform: inherit;

                }


            }

            select {
                width: 70px;
                height: 40px;
                font-size: 22px;
                color: #fff;
                background-color: rgb(255, 0, 255);
                border: 1px solid rgb(255, 0, 255);
                border-radius: 5px;
                outline: none;
                margin-left: 30px;
                cursor: pointer;
            }

            .account__login {
                display: flex;
                align-items: center;
                .basket__btn {
                    cursor: pointer;
                    font-size: 22px;
                    border: 1px solid #00ff00; /* Зеленая граница */
                    background: none; /* Без фона */
                    color: #00ff00; /* Зеленый цвет текста */
                    padding: 15px 10px; /* Отступы внутри кнопки */
                    border-radius: 5px; /* Закругленные углы */
                    margin: 0 10px; /* Отступы с боков */
                    transition: all 0.2s ease-in-out; /* Плавный переход для всех изменений */
                  
                    &:hover {
                      background-color: #00ff00; /* Зелёный фон при наведении */
                      color: #fff; /* Белый цвет текста при наведении */
                    }
                  
                    &:active {
                      transform: scale(0.98); /* Уменьшение кнопки при нажатии */
                      transition: 0.2s ease-in-out; /* Плавная анимация */
                    }
                  }
                  
                .signin__signup{
                    padding: 15px 0;
                }
                &__user {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    h4 {
                        font-size: 22px;
                    }

                    img {
                        width: 60px;
                        height: 60px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}

.login-btn {
    width: 120px;
    height: 50px;
    background-color: #ff04f2;
    border: 0px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 10px rgb(141, 136, 136);
    margin: 0 10px;
    font-size: 22px;
}


@media screen and (max-width:1200px) {
    .active {
        color: #fff;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 80px;
        width: 100%;
        background: #d802cf;
        transition: 0.5s ease-in-out;

        .container {
            margin: 0 20px;

            .header__inner {
                display: none;
            }

            .media {
                position: relative;
                display: block;

                .header__inner__media {
                    width: 100%;
                    padding-top: 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #fff;

                    h1 {
                        width: 100%;
                    }

                    p {
                        width: 40px;
                        height: 30px;
                        margin-top: 20px;
                        cursor: pointer;

                        span {
                            width: 32px;
                            background-color: #fff;
                            height: 3px;
                            border-radius: 2px;
                            transition: 0.3s ease-in-out;
                            display: block;
                            margin-top: 10px;

                            &::before,
                            &::after {
                                content: '';
                                position: relative;
                                display: inline-block;
                                width: 32px;
                                background-color: #fff;
                                color: #fff;
                                height: 3px;
                                border-radius: 2px;
                                transition: 0.3s ease-in-out;
                            }

                            &::before {
                                top: -25px;
                                transform: rotate(0deg);
                            }

                            &::after {
                                top: -25px;
                            }
                        }

                        .span__active {
                            color: transparent;
                            background-color: transparent;

                            &::before {
                                transform: rotate(45deg);
                                top: -10px;
                            }

                            &::after {
                                transform: rotate(-45deg);
                                top: -31px;
                            }
                        }
                    }
                }

                .none {
                    display: none;
                }

                .active__menu {
                    align-items: center;
                    left: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 600px;
                    height: 600px;
                    border-radius: 15px;
                    background-color: #ff04f2;
                    position: absolute;
                    top: 100px;
                    z-index: 999;
                    color: #fff;

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        height: 300px;
                        padding-left: 0;

                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 22px;
                        }
                    }

                    .account__login {
                        display: flex;
                        flex-direction: column;

                        select {
                            width: 70px;
                            height: 40px;
                            font-size: 22px;
                            color: rgb(255, 0, 255);
                            background-color: rgb(250, 250, 250);
                            border: 1px solid rgb(255, 0, 255);
                            border-radius: 5px;
                            outline: none;
                            margin-left: 110px;
                            margin-top: 30px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .header__sass {
        .container {
            margin: 0 20px;

            .header__inner {
                display: none;
            }

            .media {
                position: relative;
                display: block;

                .media__active {
                    color: #fff;
                    position: fixed;
                    top: 0;
                    z-index: 999;
                    height: 80px;
                    width: 100%;
                    background: #d802cf;
                    transition: 0.5s ease-in-out;
                }


                .header__inner__media {
                    width: 100%;
                    padding-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #fff;

                    h1 {
                        width: 100%;
                    }

                    p {
                        width: 40px;
                        height: 30px;
                        margin-top: 20px;
                        cursor: pointer;

                        span {
                            width: 32px;
                            background-color: #fff;
                            height: 3px;
                            border-radius: 2px;
                            transition: 0.3s ease-in-out;
                            display: block;
                            margin-top: 10px;

                            &::before,
                            &::after {
                                content: '';
                                position: relative;
                                display: inline-block;
                                width: 32px;
                                background-color: #fff;
                                color: #fff;
                                height: 3px;
                                border-radius: 2px;
                                transition: 0.3s ease-in-out;
                            }

                            &::before {
                                top: -25px;
                                transform: rotate(0deg);
                            }

                            &::after {
                                top: -25px;
                            }
                        }

                        .span__active {
                            color: transparent;
                            background-color: transparent;

                            &::before {
                                transform: rotate(45deg);
                                top: -10px;
                            }

                            &::after {
                                transform: rotate(-45deg);
                                top: -31px;
                            }
                        }
                    }
                }

                .none {
                    display: none;
                }

                .active__menu {
                    align-items: center;
                    left: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 600px;
                    height: 600px;
                    border-radius: 15px;
                    background-color: #ff04f2;
                    position: absolute;
                    top: 100px;
                    z-index: 999;
                    color: #fff;

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        height: 300px;
                        padding-left: 0;

                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 22px;
                        }
                    }

                    .account__login {
                        display: flex;
                        flex-direction: column;

                        select {
                            width: 70px;
                            height: 40px;
                            font-size: 22px;
                            color: rgb(255, 0, 255);
                            background-color: rgb(250, 250, 250);
                            border: 1px solid rgb(255, 0, 255);
                            border-radius: 5px;
                            outline: none;
                            margin-left: 110px;
                            margin-top: 30px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 860px) {
    .active {
        .container {
            .media {
                .active__menu {
                    left: 10%;
                }
            }
        }
    }

    .header__sass {
        .container {
            .media {
                .active__menu {
                    left: 10%;
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .active {
        .container {
            .media {
                .active__menu {
                    left: 10%;
                }
            }
        }
    }

    .header__sass {
        .container {
            .media {
                .active__menu {
                    width: 100%;
                    left: 0;
                    height: 80vh;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .active {
        .container {
            .media {
                .header__inner__media {
                    padding-top: 20px;
                    p {
                        margin-top: 00px;
                        span {
                            width: 20px;
                            height: 2px;
                            &::before,
                            &::after {
                                width: 20px;
                                height: 2px;
                                top: -9.5px;
                            }

                            &::after {
                                top: -25px;
                            }
                        }
                    }
                }

                .active__menu {
                    left: 0%;
                    width: 100%;

                    ul {
                        a {

                            font-size: 16px;
                        }
                    }

                    .account__login {
                        .sign__up__buttons {
                            a {
                                .login-btn {
                                    font-size: 18px;
                                    height: 40px;
                                    width: 100px;
                                }
                            }
                        }

                        select {
                            height: 30px;
                            font-size: 20px;
                            margin-left: 40%;
                        }
                    }
                }
            }
        }
    }

    .header__sass {
        .container {
            .media {
                .header__inner__media {
                    padding-top: 20px;
                    p {
                        margin-top: 00px;
                        span {
                            width: 20px;
                            height: 2px;
                            &::before,
                            &::after {
                                width: 20px;
                                height: 2px;
                                top: -9.5px;
                            }

                            &::after {
                                top: -25px;
                            }
                        }
                    }
                }

                .active__menu {
                    width: 100%;
                    left: 0;
                    height: 80vh;

                    ul {
                        a {

                            font-size: 16px;
                        }
                    }

                    .account__login {
                        .sign__up__buttons {
                            a {
                                .login-btn {
                                    font-size: 18px;
                                    height: 40px;
                                    width: 100px;
                                }
                            }
                        }

                        select {
                            height: 30px;
                            font-size: 20px;
                            margin-left: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .active {
        .container {
            .media {
                .header__inner__media {
                    h1 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .header__sass {
        .container {
            .media {
                .header__inner__media {
                    h1 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}