.footer {
    width: 100%;
    background: rgb(255, 0, 255);
    color: #fff;

    .footer__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;

        .footer__container__inner {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            // flex-direction: column;
            padding: 50px 0;
            margin: 0 200px;

            img {
                width: 400px;
                height: 200px;
                object-fit: cover;
            }

            h2 {
                font-size: 52px;
                margin-top: 0;
                margin-bottom: 0;
            }

            h4 {
                font-size: 22px;
                margin-top: 30px;
                margin-bottom: 0;
            }

            ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                justify-content: center;
                padding-left: 0;

                li {
                    margin: 0 20px;

                    i {
                        font-size: 36px;
                    }

                    &:nth-child(1) {
                        transition: 0.4s ease-in-out;

                        &:hover {
                            rotate: 360deg;

                            i {
                                transition: 0.2s ease-in-out;
                                color: rgb(255, 77, 0);
                            }
                        }
                    }

                    &:nth-child(2) {
                        transition: 0.4s ease-in-out;

                        &:hover {
                            rotate: 360deg;

                            i {
                                transition: 0.2s ease-in-out;
                                color: #00bfff;
                            }
                        }
                    }
                }
            }

            a {
                color: #fff;
                font-size: 22px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .footer{
        .footer__container{
            .footer__container__inner{
                flex-direction: column;
                margin: 0 20px;
                padding: 0;
                img{
                    width: 100%;
                }
                .right, .left{
                    margin: 0;
                    padding: 0;
                    width: 70%;
                }
                h2{
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .footer{
        .footer__container{
            .footer__container__inner{
                flex-direction: column;
                margin: 0 20px;
                padding: 0;
                img{
                    width: 100%;
                }
                .right, .left{
                    margin: 0;
                    padding: 0;
                    width: 90%;
                }
                h2{
                    font-size: 32px;
                }
            }
        }
    }
}