* {
    margin: 0;
    box-sizing: border-box;

}

.signup {
    h2 {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-left: 9%;  
    }
    form {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        position: relative;
    
        div {
            width: 100%;
            text-align: center;
            position: relative;
    
            input {
                height: 60px;
                outline: none;
                padding-left: 20px;
                font-size: 24px;
            }
    
            i {
                right: 28%;
                position: absolute;
                top: 24%;
                transform: translateY(100%);
                color: gray;
            }
        }
    
        input {
            width: 50%;
            height: 60px;
            outline: none;
            padding-left: 20px;
            font-size: 24px;
            position: relative;
            &:user-invalid{
                border: 1px solid red;
            }
        }
    
        button {
            width: 50%;
            height: 65px;
            border-radius: 10px;
            color: #a55050;
            background: #ffcad4;
            font-size: 30px;
            border-color: none;
            border: none;
            box-shadow: 2px 5px 46px rgb(232, 227, 227);
            cursor: pointer;
        }
    }
    
    .wrapp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 62vh;
        margin: 0 auto;
    }
}
